
p {
    font-family: $fontstack-sans;
}

.Display--large {
    font-size: $display-l;
    font-weight: 900;
    font-family: $fontstack-sans;
    line-height: $lineheight-heading;
    color: $dark-alpha-70;
    margin: $space-stack-m;
}

.Display--normal {
    font-size: $display-m;
    font-weight: 700;
    font-family: $fontstack-sans;
    line-height: $lineheight-heading;
    color: $dark-alpha-70;
    margin: $space-stack-m;
}

.Display--small {
    font-size: $display-xs;
    font-weight: 800;
    letter-spacing: 0.224px;
    font-family: $fontstack-sans;
    line-height: $lineheight-heading;
    color: $dark-alpha-60;
    margin: $space-stack-m;
}

.Body--large {
    font-family: $fontstack-serif;
    font-size: $body-l;
    line-height: $lineheight-body-default;
    color: $dark-alpha-60;
    margin: $space-stack-l;
}

.Body--normal {
    font-family: $fontstack-serif;
    font-size: $body-m;
    line-height: $lineheight-body-default;
    color: $dark-alpha-60;
    margin: $space-stack-l;
}

.Body--small {
    font-family: $fontstack-sans;
    font-size: $body-s;
    line-height: $lineheight-body-default;
    color: $dark-alpha-60;
    margin: $space-stack-l;
}

.Caption--normal {
    font-family: $fontstack-sans;
    font-size: $caption-m;
    line-height: $lineheight-reset;
    color: $dark-alpha-40;
    margin: $space-stack-l;
    display: block;
    @include text-crop;
}

.Caption--small {
    font-family: $fontstack-sans;
    font-size: $caption-s;
    line-height: $lineheight-reset;
    color: $dark-alpha-40;
    margin: $space-stack-l;
    display: block;
    @include text-crop;
}

.Alert {
    position: fixed;
    bottom: 0;
    left: 0;
    @include text-crop;
    width: 100%;
    text-align: center;
    color: $dark-hex-60;
    background: $sys-success-100;
    font-weight: 600;
    padding: 16px;
    font-size: 15px;
    line-height: 16px;
}
