
@import "reset";
@import "mixins";

// Tokens
@import "./tokens";

* {
    box-sizing: inherit;
    font-family: inherit;
}

html, body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background: #f2f2f2;
    box-sizing: border-box;
}

body {
    padding: $space-inset-l;
    font-family: "Circular Std";
}

@import "./components";
@import "./utils";
