$font-stack : "Geomanist", "Circular Std", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$font-stack-body : "Hind Vadodara", sans-serif;

@import "reset";
@import "mixins";

// Tokens
@import "./tokens";


* {
    box-sizing: inherit;
    font-family: inherit;
}

html, body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background: #f2f2f2;
    box-sizing: border-box;
}

body {
    padding: $space-inset-l;
    font-family: $font-stack;
    line-height: 1.5;
    max-width: 720px;
    margin: auto;
}

@import "./components";
@import "./utils";
