/* Usage Examples
  .my-level-1-heading-class {
      @include text-crop; // Will use default line height of 1.3
      font-size: 48px;
      margin: 0 0 0 16px;
  }

  .my-level-2-heading-class {
      @include text-crop; // Will use default line height of 1.3
      font-size: 32px; // Don't need to change any settings, will work with any font size automatically
      margin: 0 0 0 16px;
  }

  .my-body-copy-class {
      @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
      font-size: 16px;
  }

  // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
  // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings

  .slight-adjustment-needed {
      @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
      font-size: 17px;
  }

  .dont-do-this {
      @include text-crop;
      font-size: 16px;
      line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
  }
*/
/* Usage Examples
  .my-level-1-heading-class {
      @include text-crop; // Will use default line height of 1.3
      font-size: 48px;
      margin: 0 0 0 16px;
  }

  .my-level-2-heading-class {
      @include text-crop; // Will use default line height of 1.3
      font-size: 32px; // Don't need to change any settings, will work with any font size automatically
      margin: 0 0 0 16px;
  }

  .my-body-copy-class {
      @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
      font-size: 16px;
  }

  // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
  // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings

  .slight-adjustment-needed {
      @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
      font-size: 17px;
  }

  .dont-do-this {
      @include text-crop;
      font-size: 16px;
      line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
  }
*/
/*
  Fontstack
*/
/*
  Colors tokens
*/
/*
  Spaces tokens
*/
/*
  Border tokens
*/
/*
  TextSize tokens
  Base: 1rem == 16px
*/
/*
  Line Height tokens
*/
/*
  TextSize tokens
*/
/*
  Type tokens
  Next TO-DO: Make it dynamics and scale automatically

  Sources:
  https://type-scale.com
  http://www.modularscale.com
*/
/*
  Line Height tokens
*/
/*
  TextSize tokens
*/
.H900 {
  font-size: 4rem;
  line-height: 4.5rem;
  font-family: "Sentinel", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.94); }

.H800 {
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.94); }

.H700 {
  font-size: 2.125rem;
  line-height: 2.75rem;
  font-weight: 700;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.84); }

.H600 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.H500 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.H400 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.H300 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.H200 {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.H100 {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 600;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.P100 {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.P200 {
  font-size: 1.0625rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.P300 {
  font-size: 1.3125rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.Button {
  cursor: pointer;
  min-width: 4rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1;
  border-radius: 0.1875rem;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.624px;
  outline: none;
  transition: all .4s;
  line-height: 1; }
  .Button::before, .Button::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }
  .Button::before {
    margin-bottom: calc(-0.0111111111em + 0px); }
  .Button::after {
    margin-top: calc(-0.1777777778em + 0px); }

.Button--small {
  cursor: pointer;
  min-width: 4rem;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1;
  border-radius: 0.1875rem;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.624px;
  outline: none;
  transition: all .4s;
  line-height: 1;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; }
  .Button--small::before, .Button--small::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }
  .Button--small::before {
    margin-bottom: calc(-0.0111111111em + 0px); }
  .Button--small::after {
    margin-top: calc(-0.1777777778em + 0px); }

.Button--large {
  cursor: pointer;
  min-width: 4rem;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.624px;
  outline: none;
  transition: all .4s;
  line-height: 1;
  border-radius: 0.1875rem;
  padding: 1.5rem 2rem 1.5rem 2rem; }
  .Button--large::before, .Button--large::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }
  .Button--large::before {
    margin-bottom: calc(-0.0111111111em + 0px); }
  .Button--large::after {
    margin-top: calc(-0.1777777778em + 0px); }

.Button--default {
  cursor: pointer;
  min-width: 4rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1;
  border-radius: 0.1875rem;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.624px;
  outline: none;
  transition: all .4s;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.71); }
  .Button--default::before, .Button--default::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }
  .Button--default::before {
    margin-bottom: calc(-0.0111111111em + 0px); }
  .Button--default::after {
    margin-top: calc(-0.1777777778em + 0px); }

.Button--default:hover {
  color: rgba(0, 0, 0, 0.84);
  border-color: rgba(0, 0, 0, 0.54);
  transition: all .4s; }

.Button--default:focus,
.Button--default:active {
  outline: none; }

.Button--primary {
  border: 1px solid #3F46AD;
  color: white;
  background: #3F46AD;
  transition: all .4s; }

.Button--primary:hover {
  color: white;
  background: #182385;
  transition: all .4s; }

.Button--primary:focus,
.Button--primary:active {
  color: white;
  outline: none;
  box-shadow: 0px 0px 0px 2px #5773C2;
  transition: all .4s; }

.Button--secondary {
  border: 1px solid #D43242;
  color: white;
  background: #D43242;
  transition: all .4s; }

.Button--secondary:hover {
  background: #9A202C;
  transition: all .4s; }

.Button--secondary:focus,
.Button--secondary:active {
  outline: none;
  box-shadow: 0px 0px 0px 2px #FD5C63;
  transition: all .4s; }

.Link {
  text-decoration: none;
  cursor: pointer; }

.Link--primary,
.Link--primary:visited {
  text-decoration: none;
  cursor: pointer;
  color: #3F46AD;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, transparent 94%, #3F46AD 0);
  background-size: 0% 100%; }

.Link--secondary,
.Link--secondary:visited {
  text-decoration: none;
  cursor: pointer;
  color: #D43242;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, transparent 94%, #D43242 0);
  background-size: 0% 100%; }

.Link--dust100 {
  animation: hoverOutDust100 .4s forwards; }

.Link--dust100:hover {
  animation: hoverInDust100 .2s forwards; }

.Link--light {
  color: rgba(255, 255, 255, 0.84);
  transition: all .2s; }

.Link--light:hover {
  color: white;
  transition: all .2s; }

@keyframes hoverInDust100 {
  0% {
    background-position: left center;
    background-size: 0% 100%;
    text-shadow: 2px 0 #F7F7F5, -2px 0 #F7F7F5, 0 2px #F7F7F5, 0 -2px #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5; }
  99% {
    background-size: 99% 100%;
    text-shadow: 2px 0 #F7F7F5, -2px 0 #F7F7F5, 0 2px #F7F7F5, 0 -2px #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5; }
  100% {
    background-size: 100% 100%;
    text-shadow: 2px 0 #F7F7F5, -2px 0 #F7F7F5, 0 2px #F7F7F5, 0 -2px #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5; } }
@keyframes hoverOutDust100 {
  0% {
    background-position: right center;
    background-size: 100% 100%;
    text-shadow: 2px 0 #F7F7F5, -2px 0 #F7F7F5, 0 2px #F7F7F5, 0 -2px #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5; }
  99% {
    text-shadow: 2px 0 #F7F7F5, -2px 0 #F7F7F5, 0 2px #F7F7F5, 0 -2px #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5, 2px 0 #F7F7F5, -2px 0 #F7F7F5; }
  100% {
    background-position: right center;
    background-size: 0% 100%;
    text-shadow: none; } }
.Alert__Container {
  z-index: 9999;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-sizing: border-box;
  line-height: 1;
  font-size: 15px;
  font-weight: 500; }
  .Alert__Container::before, .Alert__Container::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }
  .Alert__Container::before {
    margin-bottom: calc(-0.0111111111em + 0px); }
  .Alert__Container::after {
    margin-top: calc(-0.1777777778em + 0px); }

.Alert--warning {
  background: #FF8B00;
  color: rgba(0, 0, 0, 0.84); }

.Alert--success {
  background: #57D9A3;
  color: rgba(0, 0, 0, 0.84); }

.Alert--danger {
  background: #940D00;
  color: rgba(0, 0, 0, 0.84); }

/*# sourceMappingURL=components.css.map */
