/*
  Line Height tokens
*/

// Use for heading text and UI text
$lineheight-compact   : 1.125;

// Use for long-form text and paragraph text
$lineheight-default   : 1.5;

// Use for oversized heading text
$lineheight-reset     : 1;
