@import 'invoker-tokens/index.scss';

.root {
  background: $brand-primary-200;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: $space-vertical-m;
  composes: container-bleed from global;
  z-index: 99999;
}

.container {
  composes: container-bleed from global;
}

.brand {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: $space-horizontal-m;
}

.logo {
  height: 16px;
  margin: $space-inline-sm;
  opacity: 0.44;
}

.name {
  color: $light-alpha-100 !important;
  margin: 0;
}
