// Invoker

@import "~normalize.css/normalize.css";
@import "sass/_mixins.scss";
@import "sass/_tokens.scss";

* {
  box-sizing: inherit;
  font-family: inherit;
  font-variant-numeric: proportional-nums;
}

html, body {
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background: $bg-dust-100;
  box-sizing: border-box;
}

body {
  font-family: $fontstack-sans;
}

#app {
  width: 100vw;
  line-height: 1.5;
  margin: 0 auto;
}

// a:visited {
//   color: unset;
// }

@import "sass/_utils.scss";
@import "sass/_components.scss";

// Let's get excited!
@import "sass/_sandbox.scss";
