@import '~invoker-tokens/index.scss';

.root {
}

.field {
  margin: $space-stack-ml;
  .label {
    background: red !important;
  }
}

.scrollingPage {
  // max-height: 300px;
  overflow-y: scroll;
}
