/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Usage Examples
    .my-level-1-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 48px;
        margin: 0 0 0 16px;
    }

    .my-level-2-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 32px; // Don't need to change any settings, will work with any font size automatically
        margin: 0 0 0 16px;
    }

    .my-body-copy-class {
        @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
        font-size: 16px;
    }

    // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
    // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings

    .slight-adjustment-needed {
        @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
        font-size: 17px;
    }

    .dont-do-this {
        @include text-crop;
        font-size: 16px;
        line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
    }
*/
* {
  box-sizing: inherit;
  font-family: inherit;
  font-variant-numeric: proportional-nums; }

html, body {
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background: #fbfbfb;
  box-sizing: border-box; }

body {
  padding: 2rem 2rem 2rem 2rem;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  max-width: 720px;
  margin: auto; }

p {
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.Display--large {
  font-size: 2.625rem;
  font-weight: 900;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.125;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 1rem 0; }

.Display--normal {
  font-size: 2.125rem;
  font-weight: 700;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.125;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 1rem 0; }

.Body--large {
  font-family: "Bitstream Charter", "Sentinel", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 2rem 0; }

.Body--normal {
  font-family: "Bitstream Charter", "Sentinel", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 2rem 0; }

.Body--small {
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 2rem 0; }

.Caption--normal {
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.44);
  margin: 0 0 2rem 0;
  display: block; }

.Caption--small {
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.8125rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.44);
  margin: 0 0 2rem 0;
  display: block; }

.Button, .Button--default, .Button--primary, .Button__Outline--primary, .Button--secondary, .Button__Outline--secondary {
  cursor: pointer;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 0.1875rem;
  font-family: "Soleil", "Circular Std", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.624px;
  line-height: 1; }
  .Button::before, .Button--default::before, .Button--primary::before, .Button__Outline--primary::before, .Button--secondary::before, .Button__Outline--secondary::before, .Button::after, .Button--default::after, .Button--primary::after, .Button__Outline--primary::after, .Button--secondary::after, .Button__Outline--secondary::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }
  .Button::before, .Button--default::before, .Button--primary::before, .Button__Outline--primary::before, .Button--secondary::before, .Button__Outline--secondary::before {
    margin-bottom: calc(-0.0111111111em + 0px); }
  .Button::after, .Button--default::after, .Button--primary::after, .Button__Outline--primary::after, .Button--secondary::after, .Button__Outline--secondary::after {
    margin-top: calc(-0.1777777778em + 0px); }

.Button--default {
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.8);
  outline: none; }

.Button--primary {
  border: 1px solid #57D9A3;
  color: white;
  background: #57D9A3; }

.Button__Outline--primary {
  color: #57D9A3;
  border: 1px solid #ABF5D1;
  background: transparent; }

.Button--secondary {
  border: 1px solid #FF7452;
  color: white;
  background: #FF7452; }

.Button__Outline--secondary {
  color: #FF7452;
  border: 1px solid #FFBDAD;
  background: transparent; }

.Form {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background: white;
  width: 480px;
  margin: auto;
  box-shadow: 0px 32px 64px -32px rgba(0, 0, 0, 0.44);
  border-radius: 0.375rem; }

.Form__Header {
  justify-content: space-between;
  margin: 0 0 2rem 0; }

.Header__Text {
  word-wrap: break-word;
  flex: 9999;
  margin-right: 2rem; }

.Form__Title {
  font-size: 2rem;
  margin: 0 0 0.5rem 0; }

.Form__Subtitle {
  color: rgba(0, 0, 0, 0.6); }

.Form__Footer {
  justify-content: flex-end; }

.Field {
  margin: 0 0 1.5rem 0; }

.Field__Label {
  font-size: 15px;
  line-height: 16px;
  margin: 0 0 0.5rem 0; }

.Field__Input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.1875rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  transition: all .4s;
  font-size: 15px;
  line-height: 16px;
  margin: 0 0 0.5rem 0; }

.Field__Input::placeholder {
  font-size: 15px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.44); }

.Field__Input:focus,
.Field__Input:active {
  outline: none;
  border-color: #57D9A3;
  transition: all .4s;
  box-shadow: 0px 0px 0px 2px #ABF5D1; }

.Field__Hint {
  margin: 0 0 0.25rem 0;
  font-size: 13px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.44); }

.Field__Alert {
  margin: 0 0 0.25rem 0;
  font-size: 13px;
  line-height: 13px;
  color: #ff5a5f; }

.Field__Requirement {
  color: rgba(0, 0, 0, 0.44);
  font-size: 14px;
  line-height: 14px; }

.Requirement__Item {
  margin: 0 0 0.25rem 0; }

.Requirement__Item--passed {
  color: #57D9A3; }

.U--inline, .Form__Header {
  display: flex;
  flex-direction: row; }

.U--stack, .Form {
  display: flex;
  flex-direction: column; }

.Hide {
  display: none; }

/*# sourceMappingURL=styles.css.map */
