@import 'src/tokens';

.imageCaption {
  color: $light-alpha-100;
  padding: $space-inset-sm;
}

.image {
  width: 200px;
  height: 200px;
}

.maskedImage {
  width: 96px;
  height: 96px;
  margin: $space-inline-ml;
}

.previewMask {
  display: inline-flex;
}

.imagePreview {
  height: 300px;
  margin-bottom: 24px;
  cursor: pointer;
}

.sideTab {
  display: inline-flex;
  width: 100%;
}

.tabPanels {
  max-width: 80%;
  min-width: 80%;
  width: 80%;
  flex: 2;
}

.tabList {
  flex: 1;
  min-width: 30%;
}

.tab {
  padding: 8px 0px;
  width: fit-content;
  text-decoration: none;
  background-image: linear-gradient(
    180deg,
    $brand-primary-200 30%,
    $brand-primary-200 30%
  );
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.12s;
  cursor: pointer;

  &:hover {
    background-size: 100% 1.5px;
    text-shadow: textshadow($light-alpha-100);
    color: $brand-primary-300;
  }
}

.special {
  padding: 24px;
}

.appearance {
  appearance: searchfield;
}

.bannerPosition {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

.radioClass {
  margin: $space-vertical-sm;
}

.markClass {
  margin-right: $space-sm;
}

.labelClass {
  cursor: pointer;
}

.checkmark {
  margin: $space-inline-sm;
}

.checkbox {
  display: block;
}

.markRight {
  display: flex;
  justify-content: space-between;
  margin: $space-vertical-l;
  padding: $space-vertical-sm;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.labelLeft {
  flex: 1;
  margin-right: 64px;
}

.toRight {
  margin-right: 0;
}

.specialChecklabel {
  display: block;
  padding: $space-vertical-m;
  margin: $space-vertical-m;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.item {
  color: $dark-alpha-60;
}

.defaultItem {
  padding: $space-squish-sm;
  color: $dark-alpha-60;
}

.selected {
  color: $dark-alpha-90;
  font-weight: 700;
}

.highlighted {
  color: $light-alpha-100;
  background: $brand-primary-200;
}

.imageInput {
  appearance: none;
  border-radius: 3px;
  padding: $space-inset-sm;
  background: $brand-primary-200;
  color: $light-alpha-100;
}

.slide {
  width: 320px;
  height: 320px;
}

.imageSlider {
  position: absolute;
  background: $brand-primary-100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 320px;
}

.fromRight {
  transform: translateX(100%);
  animation: translateImage 0.8s 1 cubic-bezier(0.8, 0, 0.2, 1);
}

// cubic-bezier(.8,0,.2,1)

.fromLeft {
  transform: translateX(-100%);
  animation: translateImageReverse 0.8s 1 cubic-bezier(0.8, 0, 0.2, 1);
}

@keyframes translateImage {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes translateImageReverse {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.containerItem {
  background: $brand-secondary-100;
}

// .containerClip {
//   opacity: 0;
//   clip-path: inset(0 0 0 0);
//   transition-property: clip-path;
//   transform: translateX(-10%);
//   transition-duration: .8s;
//   transition-timing-function: cubic-bezier(.8,0,.2,1);
// }

// .activeImage {
//   opacity: 1;
// }

// .enter {
//   transform: translateX(0%);
//   transition-property: transform;
//   transition-duration: .8s;
//   transition-timing-function: cubic-bezier(.8,0,.2,1);
//   // animation: entering .8s 1 cubic-bezier(.8,0,.2,1);
// }

// .clipping {
//   z-index: 99999;
//   // animation: clipping .8s 1 cubic-bezier(.8,0,.2,1);
//   clip-path: inset(0 0 0 100%);
//   transform: translateX(0%);
//   transition-property: transform, clip-path;
//   transition-duration: .8s;
//   transition-timing-function: cubic-bezier(.8,0,.2,1);
// }

// @keyframes entering {
//   0% {
//     transform: translateX(-10%);
//   }

//   100% {
//     transform: translateX(0%);
//   }
// }

// @keyframes clipping {
//   0% {
//     opacity: 1;
//     // clip-path: inset(0 0 0 0);
//   }

//   99% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     // clip-path: inset(0 0 0 100%);
//   }
// }

.CarouselControl {
  outline: none;
  border: none;
  position: absolute;
  top: calc(50% - 16px);
  width: 64px;
  height: 32px;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.28s;
  color: $light-alpha-70;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    background: $brand-primary-200;
    color: $light-alpha-100;
    transition: all 0.28s;
  }
}

.controlLeft {
  composes: CarouselControl;
  left: 20%;
}

.controlRight {
  composes: CarouselControl;
  right: 20%;
}

.iseng {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.roundLeft {
  padding-left: 6px;
}

.roundRight {
  padding-left: 9px;
}

.buttonRight {
  position: absolute;
  top: calc(180px - 20px);
  right: calc(0px - 20px);
}

.buttonLeft {
  position: absolute;
  top: calc(180px - 20px);
  left: calc(0px - 20px);
}

.imageCarousel {
  border-radius: 3px;
}

.column {
  padding-left: 12px;
  padding-right: 12px;
}

.wrapper {
  margin-left: -12px;
  margin-right: -12px;
}

.imageContainer {
  box-shadow: $elevation-l;
}

.title {
  margin-bottom: 12px;
  color: $light-alpha-100;
}

.body {
  color: $light-alpha-90;
}

.lightLink {
  margin-left: $space-xs;
  color: $dark-alpha-70;
  font-weight: 600;
  &:hover {
    color: $dark-alpha-80;
  }
}

.portalBox {
  position: absolute;
  border-radius: $radius-l;
  top: 100px;
  right: 50%;
  width: 200px;
  border: 1px solid $dark-alpha-60;
  box-shadow: 0px 2px 8px $dark-alpha-30;
  padding: $space-sm;
  background: $light-alpha-100;
  text-align: center;
}

.handleGrip {
  background: red;
}

.combined {
  width: 100px;
  height: 100px;
  background-color: red;
}

.containerBox {
  background: coral;
}

.wrapperBox {
  flex: 1;
  height: 200px;
}

.box {
  width: 100px;
  // height: 48px;
  padding: 12px;
  background-color: #eee;
}

.inside {
  background-color: rebeccapurple;
  text-align: center;
  // height: 24px;
}
