@import 'invoker-tokens/index.scss';

.root {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.tooltipsContainer {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.tooltips {
  background: $dark-alpha-80;
  border-radius: 3px;
  min-width: fit-content;
  padding: $space-squish-s;
}

.center {
  left: calc(-50%);
}

.top {
  top: calc(-100% - 4px);
}

.middle {
  bottom: calc(50% - 14px);
}

.right {
  left: calc(100% + 4px);
}

.tooltipsText {
  color: $light-alpha-100;
}
