$border-1                   : 1px solid;
$border-2                   : 2px solid;
$border-3                   : 3px solid;

$border-color-default       : $dark-alpha-20;
$border-color-primary       : $brand-primary-200;
$border-color-secondary     : $brand-secondary-200;

$border-default             : $border-1 $border-color-default;
$border-primary             : $border-1 $border-color-primary;
$border-secondary           : $border-1 $border-color-secondary;
