// Tokens

// Brand--Primary Colors
$brand-primary              : rgba();
$brand-primary-lighter      : rgba();
$brand-primary-darker       : rgba();
// Brand--Secondary colors
$brand-secondary            : rgba();
$brand-secondary-lighter    : rgba();
$brand-secondary-darker     : rgba();

// Dark colors
$dark-97                    : rgba(0,0,0,.97);
$dark-80                    : rgba(0,0,0,.80);
$dark-60                    : rgba(0,0,0,.60);
$dark-44                    : rgba(0,0,0,.44);
$dark-12                    : rgba(0,0,0,.12);
$dark-08                    : rgba(0,0,0,.08);
$dark-04                    : rgba(0,0,0,.04);

// Light colors
$white-100                  : rgba(255,255,255,1);
$white-70                   : rgba(255,255,255,.70);
$white-40                   : rgba(255,255,255,.40);

// System colors
$danger                     : rgba();
$danger-lighter             : rgba();
$alert                      : rgba();
$alert-lighter              : rgba();
$success                    : rgba();
$success-lighter            : rgba();
