// Brand--Primary Colors
$brand-primary              : #57D9A3;
$brand-primary-lighter      : #ABF5D1;
$brand-primary-darker       : #00875A;
// Brand--Secondary colors
$brand-secondary            : #FF7452;
$brand-secondary-lighter    : #FFBDAD;
$brand-secondary-darker     : #DE350B;

// Dark colors
$dark-97                    : rgba(0,0,0,.97);
$dark-80                    : rgba(0,0,0,.80);
$dark-60                    : rgba(0,0,0,.60);
$dark-44                    : rgba(0,0,0,.44);
$dark-12                    : rgba(0,0,0,.12);
$dark-08                    : rgba(0,0,0,.08);
$dark-04                    : rgba(0,0,0,.04);

// Light colors
$white-100                  : rgba(255,255,255,1);
$white-70                   : rgba(255,255,255,.70);
$white-40                   : rgba(255,255,255,.40);

// System colors
$danger                     : #ff5a5f;
$danger-lighter             : #FFEBE5;
$alert                      : #fdaa00;
$alert-lighter              : #FFFAE5;
$success                    : #00a699;
$success-lighter            : #00ffa2;

// Additional
$brand-primary  : #004466;
$brand-1        : #b4edbf;
$brand-2        : #e77876;
$brand-3        : #ddd889;
$brand-4        : #e1b5cd;
$brand-5        : #dbf6e3;
