// Border radius
// Base: 1rem == 16px

$radius-xxs         : 0.125rem;
$radius-xs          : 0.1875rem;
$radius-s           : 0.375rem;
$radius-m           : 0.5rem;
$radius-l           : 0.75rem;
$radius-xxl         : 100rem;
