// Text-size tokens

$caption-100    : rem(12px);
$caption-200    : rem(14px);

$body-100       : rem(15px);
$body-200       : rem(17px);
$body-300       : rem(21px);

$header-100     : rem(13px);
$header-200     : rem(14px);
$header-300     : rem(16px);
$header-400     : rem(18px);
$header-500     : rem(20px);
$header-600     : rem(24px);
$header-700     : rem(34px);
$header-800     : rem(44px);
$header-900     : rem(64px);
