// Type tokens
// Next to-do: Make it dynamics and scale automatically

// https://type-scale.com
// http://www.modularscale.com
// http://alistapart.com/article/more-meaningful-typography

$caption-s              : rem(13px);
$caption-m              : rem(14px);

$body-s                 : rem(15px);
$body-m                 : rem(17px);
$body-l                 : rem(21px);

$display-xs             : rem(16px);
$display-s              : rem(18px);
$display-sm             : rem(24px);
$display-m              : rem(34px);
$display-l              : rem(42px);
$display-xl             : rem(96px);
