@import '~invoker-tokens/index.scss';

// .root {
// }

.imageCaption {
  color: $light-alpha-100;
  padding: $space-inset-sm;
}

.image {
  width: 200px;
  height: 200px;
}

.maskedImage {
  width: 96px;
  height: 96px;
  margin: $space-inline-ml;
}

.previewMask {
  display: inline-flex;
}

.imagePreview {
  height: 300px;
  margin-bottom: 24px;
  cursor: pointer;
}

.sideTab {
  display: inline-flex;
  width: 100%;
}

.tabPanels {
  max-width: 80%;
  min-width: 80%;
  width: 80%;
  flex: 2;
}

.tabList {
  flex: 1;
  min-width: 30%;
}

.tab {
  padding: 8px 0px;
  width: fit-content;
  text-decoration: none;
  background-image: linear-gradient(
    180deg,
    $brand-primary-200 30%,
    $brand-primary-200 30%
  );
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.12s;
  cursor: pointer;

  &:hover {
    background-size: 100% 1.5px;
    text-shadow: textshadow($light-alpha-100);
    color: $brand-primary-300;
  }
}

.special {
  padding: 24px;
}

.appearance {
  appearance: searchfield;
}

.bannerPosition {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}

.radioClass {
  margin: $space-vertical-sm;
}

.markClass {
  margin-right: $space-sm;
}

.labelClass {
  cursor: pointer;
}

.checkmark {
  margin: $space-inline-sm;
}

.checkbox {
  display: block;
}

.markRight {
  display: flex;
  justify-content: space-between;
  margin: $space-vertical-l;
  padding: $space-vertical-sm;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.labelLeft {
  flex: 1;
  margin-right: 64px;
}

.toRight {
  margin-right: 0;
}

.specialChecklabel {
  display: block;
  padding: $space-vertical-m;
  margin: $space-vertical-m;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.item {
  color: $dark-alpha-60;
}

.defaultItem {
  padding: $space-squish-sm;
  color: $dark-alpha-60;
}

.selected {
  color: $dark-alpha-90;
  font-weight: 700;
}

.highlighted {
  color: $light-alpha-100;
  background: $brand-primary-200;
}

.imageInput {
  appearance: none;
  border-radius: 3px;
  padding: $space-inset-sm;
  background: $brand-primary-200;
  color: $light-alpha-100;
}

.slide {
  width: 320px;
  height: 320px;
}

.imageSlider {
  position: absolute;
  background: $brand-primary-100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 320px;
}

.fromRight {
  transform: translateX(100%);
  animation: translateImage 0.8s linear 1;
}

.fromLeft {
  transform: translateX(-100%);
  animation: translateImageReverse 0.8s linear 1;
}

@keyframes translateImage {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes translateImageReverse {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.containerItem {
  background: $brand-secondary-100;
}
