@import 'invoker-tokens/index.scss';

.root {
  font-family: inherit;
  background-color: $brand-sea-lighter;
  border-radius: $radius-xs;
  display: inline-block;
  margin: -2px;
  padding: $space-inset-xs;
}
