.Button {
    cursor: pointer;
    padding: $space-squish-m;
    font-size: $m;
    line-height: $m;
    border-radius: $radius-xs;
    font-family: $fontstack-sans;
    // text-transform: uppercase;
    letter-spacing: 0.624px;
    margin: $space-stack-l;
    @include text-crop;
}

.Button--small {
    @extend .Button;
    padding: $space-squish-sm;
}

.Button--large {
    @extend .Button;
    padding: $space-squish-ml;
}

.Button--default {
    border: 1px solid $dark-12;
    color: $dark-60;
    outline: none;
    transition: all .4s;
}

.Button--default:hover {
    color: $dark-80;
    border-color: $dark-44;
    transition: all .4s;
}

.Button--default:focus,
.Button--default:active {

}

.Button--primary {
    border: 1px solid $brand-primary;
    color: $white-100;
    background: $brand-primary;
}

.Button--primary:hover {
    opacity: .4;
}

.Button--primary:focus,
.Button--primary:active {

}

.Button__Outline--primary {
    color: $brand-primary;
    border: 1px solid $brand-primary-lighter;
    background: transparent;
}

.Button__Outline--primary:hover {

}

.Button__Outline--primary:focus,
.Button__Outline--primary:active {

}

.Button--secondary {
    border: 1px solid $brand-secondary;
    color: $white-100;
    background: $brand-secondary;
    opacity: .8;
    transition: all .4s;
}

.Button--secondary:hover {
    opacity: 1;
    transition: all .4s;
}

.Button--secondary:focus,
.Button--secondary:active {

}

.Button__Outline--secondary {
    color: $brand-secondary;
    border: 1px solid $brand-secondary-lighter;
    background: transparent;
}

.Button__Outline--secondary:hover {

}

.Button__Outline--secondary:focus,
.Button__Outline--secondary:active {

}
