.Button {
    padding: $space-squish-default;
    font-size: $m;
    line-height: $m;
}

.Button--default {
    @extend .Button;
    border: 1px solid $dark-12;
    color: $dark-80;
}

.Button--primary {
    @extend .Button;
    border: 1px solid $brand-primary;
    color: $white-100;
    background: $brand-primary;
}

.Button__Outline--primary {
    @extend .Button;
    color: $brand-primary;
    border: 1px solid $brand-primary-lighter;
    background: transparent;
}

.Button--secondary {
    @extend .Button;
    border: 1px solid $brand-secondary;
    color: $white-100;
    background: $brand-secondary;
}

.Button__Outline--secondary {
    @extend .Button;
    color: $brand-secondary;
    border: 1px solid $brand-secondary-lighter;
    background: transparent;
}
