@import 'invoker-tokens/index.scss';

.root {
  height: 100%;
  padding: $space-inset-ll;
}

.toolbar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  width: 40%;
  min-width: 40%;
  top: 0;
  height: 100%;
  padding-top: 80px;
  padding-right: $space-ll;
  padding-bottom: $space-ll;
}

.canvas {
  position: absolute;
  width: 60%;
  min-width: 60%;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: $space-ll;
  padding-right: $space-ll;
  padding-bottom: $space-ll;
}
