@import 'invoker-tokens/index.scss';

.root {
  background: $light-alpha-100;
}

.greet {
  color: $brand-sea;
}

.testContainer {
  background: $brand-sea;
}

.container {
  composes: container-narrow from global;
  padding: $space-vertical-l;
  max-width: 560px;
}

.field {
  width: 100%;

  &:not(:last-child) {
    margin: $space-stack-ml;
  }
}

.title {
  margin: $space-stack-m;
}
