@import 'invoker-tokens/index.scss';

.root {
  background: $light-alpha-100;
}

.greet {
  color: $brand-primary-200;
}

.testContainer {
  background: $brand-primary-200;
}

.title {
  margin: $space-stack-sm;
}

.description {
  margin: $space-stack-l;
}

.leftSection {
  top: 64px;
}

.rightSection {
  top: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.link {
  display: block;
  padding: $space-squish-sm;
}
