@import 'invoker-tokens/index.scss';

.root {
  background: $light-alpha-100;
}

.greet {
  color: $brand-primary-200;
}

.testContainer {
  background: $brand-primary-200;
}

.field {
  width: 100%;

  &:not(:last-child) {
    margin: $space-stack-ml;
  }
}

.title {
  margin: $space-stack-sm;
}

.description {
  margin: $space-stack-l;
}

.leftSection {
  top: 58px;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.rightSection {
  top: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
