@import 'invoker-tokens/index.scss';

.root {
  composes: container-bleed from global;
  overflow: hidden;
}

.wrapper {
  composes: row from global;
  flex-wrap: nowrap;
}

.image {
  border-radius: 12px;
}
