@import 'invoker-tokens/index.scss';

.root {
  position: relative;
}

.wrapper {
  margin-left: -12px;
  margin-right: -12px;
}

.column {
  padding-left: 12px;
  padding-right: 12px;
}

.image {
  border-radius: 3px;
}
