// @import '~invoker-tokens/index.scss';
@import 'src/tokens';
@import './sass/invoker-base/index.scss';

body {
  position: relative;
  color: $dark-alpha-70;
}

:global {
  .Hide {
    display: none;
  }

  .topLayer {
    z-index: 99999999;
  }
}
